.categories {
    margin: 80px auto;
}

.categories-container {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}


.category-picture {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-size: cover;
    margin: 20px 0;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    transition: scale 0.1s ease-in-out;
}

.category-picture:hover {
    scale: 105%;
    cursor: pointer;
}